In [2]:
import numpy as np
import pandas as pd

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

In [3]:
data = pd.read_csv('../../data/BlackFriday.csv')
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

## Сколько всего возрастных категорий?

In [7]:
data['Age'].nunique()

7

## Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [3]:
data[(data['City_Category'] == 'A') & (data['Gender'] == 'M')]['Gender'].count()

109831

## Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)? (речь не об уникальных ID, а о количестве строк)

In [4]:
data[['Gender','Age']].value_counts()
data[(data['Gender'] == 'F') & (data['Age'] == '46-50') &
     (data['Purchase'] > 20000)]['Gender'].value_counts()

F    270
Name: Gender, dtype: int64

## Сколько NaN'ов в столбце Product_Category_3?

In [5]:
data['Product_Category_3'].isna().sum()

373299

## Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [6]:
data['Age'].value_counts()
value_1 = data[(data['Age'] == '26-35') & (data['Gender'] == 'M')]
value_2 = data[(data['Age'].isin(['36-45', '46-50', '51-55', '55+'])) &
               (data['Gender'] == 'F')]
print(value_1.shape, value_2.shape)
result = (value_1.shape[0] + value_2.shape[0]) / (data.shape[0])
print(round(result, 4))

(165342, 12) (53839, 12)
0.4077